<!DOCTYPE html>
<html ng-app="ShoppingCart">
<head>
	<title>Shopping Cart app with Angular</title>
</head>
<body>
	<div ng-controller="ShoppingCartController as list">

		<input type="text" ng-model="list.itemName">
		<input type="text" ng-model="list.itemQuantity">
		<button ng-click="list.addItem()">Add Item</button>
		{{list.lastRemoved}}
		<br>
		<shopping-cart title="{{list.title}}" remove-item="list.removeItem(index)" items="list.items"></shopping-cart>
	</div>
	<spinner-app></spinner-app>

	<!--lib-->
	<script type="text/javascript" src="lib/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="lib/angular.min.js"></script>
	<script src="lib/angular.ui-router.js"></script>

	<!--modules-->
	<script src="src/Spinner/Spinner.module.js"></script>
	<script src="src/ShoppingCart/ShoppingCart.module.js"></script>

	<!--Shoppinglist Module artifacts-->
	<script src="src/ShoppingCart/ShoppingCart.component.js"></script>
	<script src="src/ShoppingCart/ShoppingCart.controller.js"></script>
	<script src="src/ShoppingCart/WeightLossFilter.service.js"></script>
	
	<!--Spinner module artifacts-->
	<script src="src/Spinner/Spinner.component.js"></script>
	<link rel="stylesheet" type="text/css" href="css/styles.css">

</body>
</html>